$font-family: "Roboto", sans-serif;

$extra-small-space: 8px;
$small-space: 16px;
$mobile-medium-space: 24px;
$medium-space: 32px;
$large-space: 64px;
$extra-large-space: 96px;

$common-white-color: #ffffff;
$common-black-color: #000000;

$background-color: #1a1a1a;
$container-color: #000000;
$primary-text-color: #f2f2f2;
$secondary-text-color: #a5a1a1;
$error-color: #e44d4d;
$odd-color: #01B975;

$action-background-color: #242424;
 
$divider: #2e2e2e;

$mobile: 600px;
$tablet: 750px;
$medium-tablet: 950px;
$large-tablet: 1126px;
$laptop: 1400px;

$radius: 6px;

$mobile-padding: 8px;